{% extends "layout.html" %}

{% block content %}

<style>
    p{
    font-size: 20px;
    }
</style>

<div class="jumbotron">
    <h1>{{ page }}</h1>
    <h1>Число Фибоначчи</h1>
    <p class="lead">В этой статье пойдёт речь об особенном числе Фибоначчи.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Число Фибоначчи</h2>
        <p>
            Необычное число Фибоначчи - 1,618, волнует учёных на протяжении нескольких тысячелетий. Кто-то думает, что это число - строитель вселенной, кто-то называет его числом Бога, а кто-то без лишних слов просто применяет его на практике и получает невероятные архитектурные, художественные и математические произведения. Число Фибоначчи было найдено даже в пропорциях знаменитого «Витрувианского человека» Леонардо Да Винчи, который утверждал, что таинственное число, пришедшее из математики, управляет всей Вселенной.
        </p>
        <p>
            Леонардо считается первым крупным математиком в истории средневековой Европы. Несмотря на это, ученый получил свое известное прозвище «Фибоначчи» вовсе не из-за своих необычайных математических способностей, а из-за своей удачи, поскольку «Боначи» в переводе с итальянского означает «счастливчик». Прежде чем стать одним из самых известных математиков раннего Средневековья, Леонардо Пизанский изучал точные науки у самых умных учителей своего времени, которыми считались арабы. Именно с помощью этой деятельности Фибоначчи, в Европе появилась система десятичных чисел и арабские цифры, которые мы все еще используем по сей день.
        </p>
        <p>
            В одной из своих самых известных работ под названием «Liber abaci» Леонардо приводит уникальный набор чисел, которые, будучи помещенными в ряд, образуют ряд чисел, каждое из которых является суммой двух предыдущих чисел.
        </p>
        <p>
            Последовательность чисел, в которой каждое число равно сумме двух предыдущих, имеют множество необычных свойств.
        </p>
        <p align="center">
            Другими словами, последовательность Фибоначчи выглядит так:
        </p>
        <p align="center">
            0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987 и так далее.
        </p>
        <p>
            Каждое число из ряда Фибоначчи, разделенное на следующее, имеет значение, стремящееся к единственному показателю, равному 1,618. Первые числа ряда Фибоначчи не дают такого точного значения, однако, когда они увеличиваются, отношение постепенно выравнивается и становится более точным.
        </p>
    </div>
</div>

 <div class="row">
    <div class="col-md-5">
         <img src="/static/content/fibonacci.jpg" width="400" height="247"/>
    </div>
     <div class="col-md-7">
        <p>
            Из-за его широкого использования в природе, золотое сечение (это то, как число Фибоначчи иногда называют в искусстве и математике) считается одним из наиболее гармонизирующих законов вселенной, которое оптимизирует структуру окружающего нас мира и направляет жизнь к развитию. Таким образом, правило золотого сечения используется природой для формирования траекторий вихревых потоков в ураганах, во время формирования эллиптических галактик, которые включают в себя наш Млечный путь, во время «строительства» улитки или ушной раковины человека, направляет движение стая рыб и показывает траекторию испуганного оленя, бегущего от хищника.
        </p>
     </div>
 </div>


<div class="row">
    <div class="col-md-12">
        <p>
            Существует ли в природе своя последовательность и гармоничность? Определенно, они присутствуют. В качестве прямого примера и доказательства этого, можно привести число Фибоначчи, происхождение которого еще только предстоит отыскать людям.
        </p>
    </div>
</div>

{% endblock %}
