{% extends "layout.html" %}

{% block content %}

<style>
    p{
    font-size: 20px;
    }
</style>

<div class="jumbotron">
    <h1>{{ page }}</h1>
    <h1>Фокус</h1>
    <p class="lead">Здесь будет рассказан фокус 'Угадывание зачернутной цифры'</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Угадывание зачеркнутной цифры</h2>
        <p>
         Пускай кто-нибудь придумает какое-либо многозначное число, к примеру число 847. Теперь он найдёт сумму цифр данного числа (8 + 4+ 7 = 19) и отнимет эту сумму от задуманного числа. Получится 847 – 19 = 828. В этом числе, которое получилось, ему нужно зачеркнуть цифру – нет разницы, какую именно. А теперь он сообщит вам все остальные цифры. Вы тут же сможете назвать ему зачеркнутую цифру, даже не зная задуманного числа и не видя того, какие действия с ним происходили.
        </p>
        <p>
         Провернуть такой фокус довольно-таки легко: просто ищется такая цифра, которая вместе с суммою вами сообщенных цифр составила бы самое ближайшее число, которое делится на цифру 9 без остатка. Если, к примеру, в числе 828 была зачеркнута первая цифра (8) и вам сообщили остальные цифры 2 и 8, то при сложении 2+8 вы понимаете, то до самого близкого числа, которое делится на 9, т.е. до 18 – не хватает всего лишь 8. Так и получается зачеркнутая цифра.
        </p>
        <p align="center">
        Как и почему же так происходит?
        </p>
        <p>
        Дело в том, что если от любого числа отнять сумму его цифр, то останется число, которое делится на 9 без всякого остатка, говоря другими словами, такое, сумма цифр которого делятся на 9. В самом деле,  допустим в загаданном числе a – это цифра сотен, b – цифра десятков, а c – цифра единиц. В таком случае, значит, что всего в этом числе единиц 100a + 10b + c. При отнимании от этого числа суммы цифр ( a + b + c), мы получим 100a + 10 b + c – (a + b + c) = 99a + 9b = 9(11a +b), т.е. число, которое делится на 9.
        </p>
        <p>
        Во время выполнения этого фокуса может произойти так, что сумма сообщенных вами цифр сама делится на 9, к примеру, 4 и 5. Значит, что зачеркнутая цифра либо 0, либо 9. В таком случае вы сами должны решить, что ответить: 0 или 9.
        </p>
    </div>
</div>

{% endblock %}
