{% extends "layout.html" %}

{% block content %}

<style>
    p{
    font-size: 20px;
    }
</style>

<div class="jumbotron">
    <h1>{{ page }}</h1>
    <h1>Счастливые числа</h1>
    <p class="lead">На этой странице будет материал о счастливых числах у разных народов.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Числа, приносящие счастье</h2>
        <p>
            В России число 3 издавна считается хорошим и счастливым числом. А всё это потому что в христианстве «Бог един в трех лицах». Имеются ввиду Отец, Сын и Святой дух.
        </p>
        <p>
            Сам человек также имеет троичную организацию: тело, душу и дух. Значимость цифры 3 появилась даже в сказках и преданиях. Например, в фольклоре можно узнать о троих богатырях, которые должны были победить трехголового змея-Горыныча. Или же при призыве джина, герой имел право загадать только три желания. Часто герои фольклора оказывались на распутье состоящим из трех дорог.
        </p>
        <p>
            Семерка тоже часто встречается в русских традициях, она символ удачи. Это семь цветов радуги, семь дней в неделю и семь чудес света.
        </p>
        <p align="center">
            Ваше счастливое число:
        </p>
        <p align="center">
            <i> Наведите курсором, а затем уберите его. Число, которое показалось первым - ваше счастливое</i>
        </p>
          <p align="center">
         <a class="gif" href="#"><img src="animation.gif" alt="" />
         <img src="/static/content/Гифка с Gifius.ru (2).gif" alt="Гифка"/>
          </a>
          </p>
        <p>
            Девятка часто проявляется в русских преданиях, но в основном она связанна с цифрой три. Например, Тридевятое царство – далекая страна, где происходят сказочные события. А у змея в славянских сказках не всегда лишь три головы, бывает, что трижды три головы, то есть девять.
        </p>
        <p>
            К благоприятным цифрам в Китае относят цифры девять и восемь. Цифра девять символизирует полноту небес и земли. Цифра восемь в Фэн-шуй - это цифра процветания. Это обещает медленное, но устойчивое процветание в будущем. А также она созвучна со словом «Разбогатеть».  Интересен тот факт, что в Китае, когда происходил аукцион счастливых мобильных номеров, был продан за 1,1 млн долларов номер 135 85 85 85 85. Связано это с тем, что произношение этого номера созвучно с фразой «Быть богатым, быть богатым, быть богатым, быть богатым».
        </p>
        <p>
            Число 13 считается счастливым в Италии. В этот день в календаре формируются самые ответственные дела: мальчики рассказывают о своей любви тем девушкам, в возвращении которых они не совсем уверены, владельцы домов под номером тринадцать взимают с арендаторов дополнительную плату, а кассиры в железнодорожных авиационных кассовых отделениях хранят билеты в «счастливых» местах только для близких друзей или тех любителей этой цифры, которые склонны приносить благодарность в качестве денежной суммы.
        </p>
    </div>
</div>

{% endblock %}
