{% extends "layout.html" %}

{% block content %}

<style>
    p{
    font-size: 20px;
    }
</style>

<div class="jumbotron">
    <h1>{{ page }}</h1>
    <p class="lead">В данной статье вы сможете узнать об истории возникновении чисел и какими были самые первые числа. </p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2> Появление чисел</h2>
        <p>
            Ученые считают, что числа возникли тогда, когда люди научились считать предметы. Однако знаки для обозначения чисел появились позже: их изобрели шумеры - люди, которые жили в 3000-2000 годах до н.э. в Месопотамии (сейчас в Ираке). История гласит, что на глиняных табличках были нанесены различные клинообразные черточки, а затем были изобретены знаки. Некоторые клинописные знаки обозначали цифрами 1, 10, 100, а остальные числа записывались посредством соединения данных знаков. Использование цифр облегчило счет: начали считать дни недели, головы скота, размеры земельных участков, объемы урожая.
        </p>
        <p>
            Пифагорейцы предполагали, что числа принадлежат к миру принципов, лежащих в основе мира вещей. Пифагор говорил: «Все вещи можно представить в виде чисел».
        </p>
        <p>
            Известный русский путешественник Н.Н. Миклухо-Маклай, который провел много лет среди туземцев на островах Тихого океана, обнаружил, что у некоторых племен есть три способа подсчета: для людей, для животных, и для посуды, оружия и других неодушевленных предметов. То есть там в то время понятие числа еще не появилось, не было осознано, что три орешка, три козла и три ребенка имеют общее свойство - их количество равно трем.
        </p>
    </div>
</div>

 <div class="row">
    <div class="col-md-4">
    <img src="/static/content/chisla.jpg" alt="Первые числа" width="340" height="512"/>
    </div>
     <div class="col-md-8">
    <p>
         У некоторых народов (древние греки, финикийцы) буквы алфавита служили цифрами.
    </p>
    <p>
        Десятичная система, которая сейчас широко используется во всем мире, более продвинута. Вместо палочек, взятых от одной до девяти, используют цифры 1, 2, 3, 4, 5, 6, 7, 8, 9. Для обозначения десятков, сотен и т. д. новые значки не нужны, поскольку используются те же цифры для того, чтобы написать десятки, сотни и т. д. Одна и та же цифра имеет разные значения в зависимости от места положения, где она записана. Благодаря этому свойству современная система счисления называется позиционной. Десятичная позиционная система счисления позволяет записывать сколько угодно большие натуральные числа.
    </p>
    </div>
</div>

{% endblock %}
