{% extends "layout.html" %}

{% block content %}

<style>
    p{
    font-size: 20px;
    }
</style>

<div class="jumbotron">
    <h1>Числа</h1>
    <p class="lead">В этом сайте вы найдете всю необходимую информацию о числах.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Цифры</h2>
        <p>
            На самом деле цифра не является самостоятельным математическим понятием - это просто символ, знак письма, с помощью которого пишутся цифры.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Числа</h2>
        <p> <b> Числа </b> - это понятие количества, величина, благодаря которой может производиться счёт. </p>
    </div>
    <div class="col-md-4">
        <h2>Отличие числа от цифры</h2>
        <p>Исходя из определений можно сделать вывод, что число – это некая абстрактная сущность, которую мы используем для описания количества чего-либо. А цифры являются знаками для записи этих чисел.</p>
    </div>
</div>

{% endblock %}
