{% extends "layout.html" %}

{% block content %}

<style>
    .font-class {font-size: 20px;}
</style>

<div class="jumbotron">
    <h1>{{ page }}</h1>
    <h1>Нумерология</h1>
    <p class="lead">На этой странице сайта будет рассказано о Нумерологии.</p>
</div>

<div class="row">
    <div class="col-md-12 font-class">
         <h2>Нумерология</h2>
         <p>
            Цифры - это неотъемлемая часть жизни каждого из нас. Мы сталкиваемся с ними постоянно. Есть даже отдельная наука, представители которой изучают цифры и расшифровывают их значение. Она называется нумерологией.
        </p>
        <p>
            Каждое число от 1 до 9 несет в себе особый смысл:
        </p>
        <ul>
            <li>1 - целеустремленность</li>
            <li>2 - надежность</li>
            <li>3 - решительность</li>
            <li>4 - терпение</li>
            <li>5 - лидерские качества</li>
            <li>6 - ответственность</li>
            <li>7 - творчество</li>
            <li>8 - нестабильность</li>
            <li>9 – самоотверженность</li>
        </ul>
        <p style="text-align:center">
         <img style="text-align: center;" src="/static/content/palabra-y-magia.jpg" alt="Первые числа" width="640" height="456" />
        </p>
        <p>
            Основные законы нумерологии, на которых опираются и сейчас, впервые появились в шестом веке до нашей эры. Разработал их древнегреческий математик и философ Пифагор. Он выводил основные принципы нумерологии более чем за один год, объединяя различные науки о числах. Основным принципом нумерологии сегодня является преобразование многозначных чисел (в которых есть несколько цифр) в однозначные (одна цифра). Проще говоря, чтобы определить свой номер, вам нужно сложить цифры даты рождения, после чего вы получите двузначное число.
        </p>
        <p>
            Например, человек родился 03.05.1970 года. Следовательно, ему нужно считать так: 0 + 3 + 0 + 5 + 1 + 9 + 7 + 0 = 25, а теперь 2 + 7 = 9. Получившаяся девятка и будет являться числом, показывающим на характер.
        </p>
    </div>
</div>

{% endblock %}
