{% extends "layout.html" %}

{% block content %}

<style>
    p{
    font-size: 20px;
    }
</style>

<div class="jumbotron">
    <h1>{{ page }}</h1>
    <h1>Несчастливые числа</h1>
    <p class="lead">Эта статья будет о несчастливых числах у разных народов.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Числа, приносящие неудачу</h2>
        <p>
        Число 13 считается неудачным почти везде. Даже наши предки использовали понятие «чертова дюжина», упоминая его. Если в пятницу выпадает 13-е число месяца, многие люди предпочитают оставаться дома в этот день, чтобы избежать неприятностей. Многие суеверия также связаны и с так называемым «числом дьявола» - 666.
        </p>
        <p>
        Помимо числа 13, есть ещё много несчастливых чисел. Например, цифра 4 в Японии. Это произошло потому, что японское звучание слова четыре («ши») похоже на звучание слова «смерть» («си»). Число 9 на японском также звучит как слово «боль», поэтому в больницах, например, обычно нет 4-го или 9-го этажа. Цифра 4 также неблагоприятна в Китае. Она в себе несет потери и смерть.
        </p>
        <p>
        В отличие от европейцев, которым не нравится число 13, в Китае число 14 также страшно. Никто не хочет себе офис или квартиру на 14 этаже.
        </p>
    </div>
</div>

 <div class="row">
    <div class="col-md-4">
        <img src="/static/content/istockphoto-174784160-612x612.jpg" width="400" height="400">
    </div>
     <div class="col-md-8">
        <p>
        В Италии присутствует несчастливое число - 17. Многие объясняют это тем, что во времена Древнего Рима на многих надгробиях они писали «VIXI», что означает «я прожил», то есть «я уже умер». Рассматривая надпись, вы можете видеть, что первая часть слова напоминает римскую шестерку (VI), а вторая - римскую цифру 11 (XI). Добавление этих чисел дает 17.
        </p>
        <p>
        В Австралии число 87 называют «Числом крикетного дьявола. Люди верят, что игрок набравший 87 очков ни за что не сможет выиграть. История данного суеверия началась в конце 1929 года. Самый лучший бэтсмен всех времен Дон Брэдмен однажды набрал 87 очков и проиграл. После этого случая еще один игрок - Ян Джонсон набрал такое же количество очков, и также выбыл из игры. С тех пор Австралийцы считают, что данное число несет несчастье.
        </p>
        <p>
            В Индии самым негативным и отрицательным числом является 26. Для этого довольно много причин. Например, 26.01.2001 года случилось землетрясение, которое забрала жизни 20 000 человек. А 26.12.2004 года в Индийском океане случилось цунами, при котором погибли 230 000 человек.
        </p>
     </div>
 </div>

<div class="row">
    <div class="col-md-12">
        <p>
            Телефонный номер 0888 888 888 в Болгарии не обслуживается компанией мобильной связи. Всё дело в том, что три его владельца скончались один за другим. Первым погибшим от проклятия таинственного номера телефона, является главный директор этой мобильной компании – Владимир Грашанов. После него, вторым человеком, пострадавшим от этих чисел, был Константин Дмитров. Последним был Константин Дишилев. После данных происшествий, компания решила больше не продавать этот номер, и до сих пор у него не было новых владельцев.
        </p>
        <p>
            В некоторых странах страх перед несчастливыми числами находится в пределах одного человека, а в других страх настолько одолевает людей, что число прости убирается с окружающих предметов (Номер шоссе, этаж, номер дома или квартиры).
        </p>
        <p>
            В тоже время существуют люди, которые думают, что несчастливые числа приносят им удачу.
        </p>
    </div>
</div>

{% endblock %}
